# Root .gitignore
.env
.env.*
docker_data/
logs/
*.log

# Backend
config-client/target/
config-client/.idea/
config-server/target/
config-server/.idea/

# Proxy/Frontend
proxy/node_modules/
caas-frontend/node_modules/
caas-frontend/build/
caas-frontend/dist/
